doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Mis favs
    body 

        include ../head.pug

        header
            nav(class='navbar')
                    a(href="#", class="nav-branding") MovieApp
                    ul(class="nav-menu")
                        li(class="nav-item")
                            a(href="/dashboard", class="nav-link") Dashboard
                        li(class="nav-item")
                            a(href="/search", class="nav-link") Search
                        li(class="nav-item")
                            a(href="/login", class="nav-link") Logout
                    div(class="hamburger")
                            span(class="bar")
                            span(class="bar")
                            span(class="bar")

        h2 My favourite movies
        section 
            if films 
                each film, index in films
                    
                    div 
                        p(class="none") #{film} 
                        p Title:
                        p Year: 
                        p Director: 
                        p Actorlist: 
                        p Plot: 
                        p Genre: 
                        p Reviews: 
                        p Duration:                      
                        img(src=film.image, alt="Imagen de la película") 
                        - let idMovie = film._id;
                        button(class="btn_fav" value = idMovie) Favoritos

        script(src="/js/favMovie.js")
        script(src="/js/hamburger.js") 
   

