doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Mis favs
    body 

        include ../head.pug

        header
            nav(class='navbar')
                    a(href="#", class="nav-branding") MovieApp
                    ul(class="nav-menu")
                        li(class="nav-item")
                            a(href="/dashboard", class="nav-link") Dashboard
                        li(class="nav-item")
                            a(href="/search", class="nav-link") Search
                        li(class="nav-item")
                            a(href="/login", class="nav-link") Logout
                    div(class="hamburger")
                            span(class="bar")
                            span(class="bar")
                            span(class="bar")

        h2 My favourite movies
        section 
            //-
                each film in films
                    div 
                        if film.description 
                                p Year: #{film.description}
                        if film.year 
                                p Year: #{film.year}
                        p Title: #{film.title}
                        img(src=film.image, alt="Imagen de la película")
                        - let idMovie = film.id;
                        a(href='/movie/' + idMovie + '&'+ film.title, class="toDetails") Details
                        div(class="lds-roller")
                            div
                            div
                            div
                            div
                            div
                            div
                            div
                            div
                        - let idMovie = film._id;
                        button(class="btn_fav" value = idMovie) Favoritos

        script(src="/js/favMovie.js")
        script(src="/js/hamburger.js") 
   

